# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.idea/
tea-manager.iml
tea-manager-service/tea-manager-service.iml
tea-manager-dao/target/
tea-manager-interface/target/
tea-manager-pojo/target/
tea-manager-service/target/
src/
tea-manager-dao/src/main/resources/
tea-manager-dao/src/test/
tea-manager-interface/src/main/resources/
tea-manager-interface/src/test/
tea-manager-pojo/src/main/resources/
tea-manager-pojo/src/test/
tea-manager-service/src/test/
